<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="internalOnly"
    package="zt.sakoonkinamaz" >

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".dialog.AddNewItemDialog"
            android:theme="@style/DialogTheme" >
        </activity>

        <receiver android:name=".broadcast.MatchTimeReceiver"/>

        <service
            android:name=".broadcast.PrayerTimeService"
            android:enabled="true"
            android:process=":prayer_service" >
        </service>

        <receiver android:name=".broadcast.AutoStartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".broadcast.NotificationService"
            android:process=":notification"/>
    </application>

</manifest>